.metadata
.project
.settings
.git
.classpath
.gitignore
/RemoteSystemsTempFiles
.recommenders/
_pasted_code_/
/web/edit-web/src/main/webapp/.#webclasspath

*.xml
*.iml
*.jar
web/collector-web/target/maven-archiver/pom.properties
web/collector-web/target/collector/WEB-INF/classes/log4j.properties
web/collector-web/target/collector/WEB-INF/classes/com/navinfo/dataservice/web/collector/controller/PoiController.class
web/collector-web/target/collector/index.jsp
web/collector-web/target/classes/log4j.properties
web/collector-web/target/classes/com/navinfo/dataservice/web/collector/controller/PoiController.class
web/collector-web/target/collector.war
log/error/log.txt
log/warn/log.txt
logs/ds.log.20170517
log/info/log.txt
logs/ds.log.20170516
logs/ds.log
log/fatal/log.txt